* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}
body {
    background-color: bisque;
}
#content {
   background-color: darkorange;
   color: #333;
   width: 95%;
   border-radius: 50px;
   text-align: center;
   padding: 100px 100px 20px 100px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%); 
}
h1 {
    margin-bottom: 20px;
}
.code {
    font-family: monospace;
    background-color: #333;
    color: bisque;
    font-weight: bold;
}
main > article > section > table {
    margin: 20px auto;
}
table th {
    background-color: #333;
    color: bisque;
    font-weight: bold;
}
table th, td {
    padding: 3px 10px;
    border: 1px solid black;
    font-weight: 600;
}
table td {
    text-align: left;
}
footer{
    margin-top: 120px;
    padding-bottom: 40px;
}